* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#b6d3ff;
    font-family: sans-serif;
}
.container {
    max-width: 90%;
}
.login__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.login__form__img img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.login__form__right {
    padding: 2rem;
}
.login__form__right h1{
    margin-bottom:2rem;
}

.login__form__right form input,
.login__form__right form button{
    width: 100%; 
    margin-bottom: 1rem;
    border:2px solid #cdd9ea;
    padding: 0.6rem;
    border-radius: 5px;
}
.login__form__right form label{
color: #989b9f;
font-size: 0.8rem;
}
.login__form__right form button {
    width: 100%; 
    margin-top: 1rem;
    background-color: rgb(62, 125, 251);
}