* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#b6d3ff;
    font-family: sans-serif;
}
.container {
    max-width:1280px;
}
.login__form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    min-height: 80vh;
}
.login__form__img img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.login__form__right {
    padding: 2rem;
}
.login__form__right h1{
    margin-bottom:2rem;
}

.login__form__right form input,
.login__form__right form button{
    width: 100%; 
    margin-bottom: 1rem;
    border:2px solid #cdd9ea;
    padding: 0.6rem;
    border-radius: 5px;
    outline:none;
}

.login__form__right form input:focus {
    border: 2px solid rgb(40, 79, 158);
    box-shadow: 0 0 0px rgb(10, 30, 71);
}
.login__form__right form label{
color: #989b9f;
font-size: 0.8rem;
}
.login__form__right form button {
    width: 100%; 
    margin-top: 1rem;
    background-color: rgb(4, 22, 58);
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.7rem;
    cursor: pointer;
    transition: background 0.2s ease;
}
.login__form__right form button:hover {
    background-color: rgb(4, 22, 58);
}

@media screen and (min-width:768px) {
    .login__form {
        display: flex;
       flex-direction: row;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
}
.login__form__img {
 flex: 1;
}
.login__form__img img {
   
    height: 90vh;
    width: 100%;
    display: block;
}
}